@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Gugi&display=swap');
@font-face {
    font-family: canela;
    src: url(https://pauloferreirajorge.com/fonts/canela.woff2) format("woff2");
  }
    *{margin: 0;padding: 0;}
    a{text-decoration: none;}
    ul{list-style: none;}
    body{
        font-family: arial,helvetica;
        color: #fff;
        text-align:center;
    }

    .main h1{
        font-size: 300PX;
        color: #000;
        font-family: canela;
        font-weight: lighter;
    }
    h1{
        font-size: 100PX;
        color: #000;
        margin:0;
    }

    /* Backgrounds colors for sections */
    .fp-section:nth-child(1){
        background: rgb(240, 240, 240);
    }

    .fp-section:nth-child(2){
        background: rgb(17, 17, 17);color: rgb(240, 240, 240);
    }
    
    .fp-section:nth-child(3){
        background: rgb(17, 17, 17);color: rgb(240, 240, 240);
    }
    

    .profile{width: 95%;}
    .profile .pp{width: 85%; display: flex;justify-content: space-between;margin: 0 auto;}
    .profile .subp{width: 60%;display: flex;justify-content: space-between;margin: 50PX auto;gap: 250px;}
    
    .profile .subp .psub{margin-left: 90px;}
    .profile .subp li:nth-child(1) p:nth-child(1) img{border-radius: 20px;}
    .profile .subp .psub >p{margin-top: 10px;}
    
    .profile .subp .psub >p strong{margin-right: 100px;}
    

    .profile .subp li:nth-child(2) h2{font-size: 60px;font-family: "Dongle", sans-serif;font-weight: 300;}
    .profile .subp li:nth-child(2) >ul li:first-child{margin: 20px 0;}
    .profile .subp .psub >p:nth-child(3),.profile .subp .psub >p:nth-child(4),.profile .subp .psub >p:nth-child(5){text-align: left;}

    .profile .subp li:nth-child(2){text-align: left;line-height: 30px;}
    .profile .subp li:nth-child(2){width: 60%;}
    .profile .subp li:nth-child(2)>ul{width: 100%;}
    .profile .subp li:nth-child(2)>ul{width: 100%;height: 100%;object-fit: cover;}
    
    .profile .subp li .career{width: 100%;}
     .profile .subp li:nth-child(2)>ul .tool img{width: 100%;object-fit: cover;}

     
     .fp-section:nth-child(3) .subtxt >h2{font-size: 90px;font-family: canela, sans-serif;margin-bottom: 20px;}
     .fp-section:nth-child(3) .subtxt >h3{margin: 30PX 0 10px;font-size: 25px;}
     .fp-section:nth-child(3) .subtxt>p{font-size: 20px;}
     .fp-section:nth-child(3) .subtxt .color h3{margin: 50px 0 30px 0;font-size: 25px;}
     .fp-section:nth-child(3) .subtxt .color ul{display: flex;justify-content: center;gap: 30px;}
     .fp-section:nth-child(3) .subtxt .color ul li{border-radius: 50%;width: 30px;height: 30px;border: 1px solid #fff;border-radius: 50%;}
     .fp-section:nth-child(3) .subtxt .one ul li:nth-child(1){background: #B89D61;}
     .fp-section:nth-child(3) .subtxt .one ul li:nth-child(2){background: #EA4824;}
     .fp-section:nth-child(3) .subtxt .one ul li:nth-child(3){background: #777779;}
     .fp-section:nth-child(3) .subtxt .one ul li:nth-child(4){background: #20515D;}

     .fp-section:nth-child(3) .subtxt .two ul li:nth-child(1){background: #000;}
     .fp-section:nth-child(3) .subtxt .two ul li:nth-child(2){background: #60A360;}
     .fp-section:nth-child(3) .subtxt .two ul li:nth-child(3){background: #AF8B19;}
     .fp-section:nth-child(3) .subtxt .two ul li:nth-child(4){background: #B26084;}

     .fp-section:nth-child(3) .subtxt .three ul li:nth-child(1){background: #ADDFD9;}
     .fp-section:nth-child(3) .subtxt .three ul li:nth-child(2){background: #B1C466;}
     .fp-section:nth-child(3) .subtxt .three ul li:nth-child(3){background: #CBB8A7;}
     .fp-section:nth-child(3) .subtxt .three ul li:nth-child(4){background: #9C4D1D;}

    .fp-section:nth-child(3) a{color: #fff;}
    .fp-section:nth-child(3) a>ul{width: 100%;display: flex;justify-content: center;gap: 50px;}
    .fp-section:nth-child(3) a>ul li:first-child{width: 750px;}
    .fp-section:nth-child(3) a>ul li:first-child img{width: 100%;height: 100%;object-fit: cover;}
    .fp-watermark{display: none;}

    
     .fp-section:nth-child(3) .fp-arrow.fp-prev{border-width:0;content: url(../images/arrow_left.svg);width: 50px;height: 50px;left: 43%;top: 75%;filter: invert();}
     .fp-section:nth-child(3) .fp-arrow.fp-next{border-width:0;content: url(../images/arrow_right.svg);width: 50px;height: 50px;left: 46%;top: 75%;filter: invert();}


    