@charset "utf-8";

*{margin: 0;padding: 0;}
a{text-decoration: none;color: #fff;}
ul{list-style: none;}
.wrap{width: 100%;max-width: 1930px;position: relative;}
.menu{height: 94px;background: #000;position: sticky;z-index: 2;}
.submenu{width: 95%;display: flex;justify-content: space-between;}
.submenu .left{display: flex;}
.submenu .right{display: flex;gap:20px;}

.submenu .right li div{width: 25px;height: 1px;background: #fff;}
.submenu .right img{filter: invert();align-items: center;}
.vd{width: 100%;height: 919px;background-repeat: no-repeat;background-size: 100%; background-image: url(../video/1920x1080AutomobiliLamborghini-OfficialWebsiteLamborghini.com-ezgif.com-video-to-webp-converter.webp);}